body {
    font-family: monospace;
    background: #f5f6fa;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 470px;
    margin: 0;
    font-size: 16px;
}

.container {
    background: #fff;
    width: 100%;
    max-width: 750px;
    padding: 20px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #333;
    margin-bottom: 20px;
    
}

input[type="text"] {
    width: 80%;
    padding: 10px;
    font-size: 16px;
    border-radius: 8px;
    border: 1px solid #ccc;
    outline: none;
}

input[type="submit"], button {
    margin-top: 15px;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    background-color: #3d465a;
    color: white;
    cursor: pointer;
    transition: 0.2s;
}

input[type="submit"]:hover, button:hover {
    background-color: #898e9b;}

.answer-box {
    margin-top: 20px;
    background-color: #f0f3f8;
    border-left: 5px solid #000000;
    border-radius: 10px;
    padding: 20px;
    text-align: left;
    width: 100%;
    max-width: 680px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    overflow-y: auto;
}

.answer-box h3 {
    margin-top: 0;
    color: #2f3542;
}